[submodule "board/hdl_lib/uart-for-fpga"]
	path = board/rtl_lib/uart-for-fpga
	url = https://github.com/jakubcabal/uart-for-fpga
[submodule "board/rtl_lib/vhdl-extras"]
	path = board/rtl_lib/vhdl-extras
	url = https://github.com/kevinpt/vhdl-extras
